@import "tailwindcss";

.illustration {
  background-image: url("./src/assets/Illustrasi Login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.user-saldo-bg {
  background-image: url("src/assets/Background Saldo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.user-saldo-bg-payment {
  background-image: url("../src/assets/Background Saldo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}